/* colors */
:root {
    --matcha-green: #A8C686;
    --sage-green: #D8E7C5;
    --olive-green: #6F7741;

    --cream: #FFF8F0;
    --warm-white: #F8F5EF;

    --blush-pink: #F7C6D9;
    --rose-pink: #DDA5B6;
    --brown: #6B4F3B;
} 

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: var(--cream);
}

.container{
    text-align: center;
}

h1 {
    color: var(--brown);
}

.board {
    display: grid;
    grid-template-columns: repeat(3,100px);
    gap: 10px;
    justify-content: center;
}

.row {
    display: flex;
}

.cell {
    width: 100px;
    height: 100px;
    background: var(--sage-green);
    border-radius: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    font-weight: bold;
    cursor: pointer;
    transition: .2s;
}

.cell:hover {
    background-color: var(--rose-pink);
    transform: scale(1.05);
}

#status {
    font-size: 24px;
    margin: 20px;
    font-weight: bold;
}